.DS_Store
*.log
node_modules/
out/
dist/
native/PowermoveNative/artifacts/
e2e/test-results/
e2e/playwright-report/
e2e/tmp/
native/macos-renderer/build/
website/.svelte-kit/
website/build/
**/.DS_Store
